APP_NAME=GroupMark API
ENVIRONMENT=development
LOG_LEVEL=INFO

DATABASE_URL=postgresql://owaiswangde@localhost:5432/groupmark?sslmode=disable
DBMATE_MIGRATIONS_DIR=migrations
DBMATE_SCHEMA_FILE=migrations/schema.sql

JWT_SECRET_KEY=change-me-in-real-env
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173